@use '../constants/scss/constant' as c;

$width: 450px;

body {
    background-color: c.$background_color;
}

.body {
    border: 1px solid c.$solid_form;

    max-width: $width;
    max-height: 600px;

    margin: auto;
    margin-top: 5em;

    padding: 20px 20px 20px;

    background-color: c.$background_form;
}

.form {
    text-align: center;

    .input {
        width: 60%;

        border: 1px solid #d2d0d0;

        padding: 4px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .input:focus {
        outline: none;
    }
    ::placeholder {
        color: #c7c7c7;
        opacity: 1;
    }

    .button {
        display: block;

        min-width: 110px;

        text-align: center;

        margin: auto;
        margin-bottom: 15px;
        top: -15px;
    }
}

.password {
    display: block;
    font-family: 22px sans-serif;

    text-align: left;

    height: 40px;
    padding-left: 70px;
    padding-top: 10px;

    position: relative;
    top: 0;
    left: 0;

    .icon {
        position: absolute;
        cursor: pointer;

        right: 22%;
        bottom: 160%;

        fill: #c7c7c7;
    }
    .icon:hover {
        fill: black;
    }
}

@media (max-width: 1025px) {
    .body {
        border: none;
        margin-top: 0px;
    }
    .main {
        margin-top: 100px;
        max-height: 300px;
    }
}

@media (max-height: 415px) {
    .body {
        border-bottom: none;
        border-top: none;
        margin-top: 0px;
    }
}

.img_logo {
    @include c.img_logo;
}
