.header {
    height: 100px;
}

.main {
    display: flex;
    width: 60%;
    margin: auto;

    .post {
        width: 75%;
    }

    .avt {
        margin-top: 30px;

        display: flex;

        .avt_image {
            width: 60px;
            height: 60px;

            border-radius: 50%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .avt_name {
            height: 60px;
            display: flex;
            align-items: center;
            margin-left: 25px;

            .avt_name_username {
                font-size: 18px;
                font-weight: bold;
            }

            .avt_name_name {
                font-size: 20px;
                color: #8e8e8e;
            }
        }
    }
}
