.main {
    display: flex;
    width: 70%;
    margin: auto;

    .create_post {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 80px;
        width: 616px;

        border: 1px solid #eae3e3;
        border-radius: 5%;
        background-color: #fff;

        border-radius: 5%;
        margin: auto;
        margin-bottom: 20px;

        .create_post_avt {
            width: 40px;
            height: 40px;

            border-radius: 50%;

            margin-left: 20px;
            margin-right: 20px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .create_post_input {
            height: 50px;
            width: 84%;

            background-color: #fafafa;

            border: 1px solid #fff;
            border-radius: 5%;

            padding-left: 12px;

            font-size: 20px;
        }
        .create_post_input:focus {
            outline: none;
        }
    }

    .post {
        width: 75%;
        margin: auto;
        margin-top: 130px;
    }

    .avt {
        margin-top: 30px;

        display: flex;

        .avt_image {
            width: 50px;
            height: 50px;

            border-radius: 50%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .avt_name {
            height: 50px;
            display: flex;
            align-items: center;
            margin-left: 25px;

            .avt_name_username {
                font-size: 16px;
                font-weight: bold;
            }

            .avt_name_name {
                font-size: 18px;
                color: #8e8e8e;
            }
        }
    }
}

@media screen and (max-device-width: 480px) {
    .create_post {
        display: none !important;
    }
    .footer {
        position: fixed;
        margin-top: 93vh;

        width: 100%;
        height: 56px;

        background-color: #fff;

        border-top: 1px solid #eae3e3;
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 90%;
            height: 100%;

            margin: auto;

            .nav_icon_avt {
                width: 30px;
                height: 30px;

                border-radius: 50%;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    .main {
        width: 100% !important;
    }
    .post {
        width: 100% !important;
        margin-top: 70px !important;
    }
}

@media screen and (max-device-width: 320px) {
    .create_post {
        display: none !important;
    }
    .footer {
        margin-top: 91vh !important;
    }
}
