.header {
    position: fixed;
    width: 100%;

    background-color: #fff;

    border-bottom: 1px solid #eae3e3;

    .header_main {
        display: flex;

        width: 60%;
        margin: auto;
        justify-content: space-between;

        .header_logo {
            flex-grow: 4;
        }

        .header_input {
            display: flex;
            flex-grow: 3;

            align-items: center;

            .input {
                padding: 4px;
                padding-left: 5px;
            }
            .input:focus {
                outline: none;
            }
            ::placeholder {
                color: #c7c7c7;
                opacity: 1;
                text-align: center;
            }
        }

        .icon {
            display: flex;
            flex-grow: 2;

            align-items: center;
            justify-content: space-around;

            .icon_item {
                cursor: pointer;
            }

            .icon_avt {
                height: 25px;
                width: 25px;

                border-radius: 50%;
                border-color: black;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
