.header {
    position: fixed;
    width: 100%;

    background-color: #fff;

    border-bottom: 1px solid #eae3e3;

    .header_main {
        display: flex;

        width: 60%;
        margin: auto;
        justify-content: space-between;

        .header_logo {
            flex-grow: 4;

            .header_image {
                height: 103px;
            }
        }

        .header_input {
            display: flex;
            flex-grow: 3;

            align-items: center;

            margin-right: 0.7em;

            .input {
                padding: 4px;
                padding-left: 5px;
            }
            .input:focus {
                outline: none;
            }
            ::placeholder {
                color: #c7c7c7;
                opacity: 1;
                text-align: center;
            }
        }

        .mess_icon {
            display: none;
        }

        .icon {
            display: flex;
            flex-grow: 2;

            align-items: center;
            justify-content: space-around;

            .icon_item {
                cursor: pointer;
                margin-right: 0.8em;
            }

            .icon_avt {
                height: 25px;
                width: 25px;

                border-radius: 50%;
                border-color: black;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

@media screen and (max-width: 487px) {
    .header_main {
        width: 100% !important;
    }

    .header_image {
        height: 50px !important;
    }

    .header_logo {
        display: flex;
        justify-content: flex-end;

        width: 65% !important;
    }

    .header_input {
        display: none !important;
    }

    .mess_icon {
        display: flex !important;
        justify-content: flex-end;
        width: 50% !important;
        align-items: center;
        margin-right: 8px;
    }

    .icon {
        display: none !important;
    }
}
