.home_post {
    margin: auto;
    margin-bottom: 30px;

    width: 616px;
    height: 800px;

    border: 1px solid #eae3e3;

    background-color: #fff;

    .home_main {
        margin: auto;
    }

    .home_post_header {
        height: 60px;
        width: 93%;

        margin: auto;

        display: flex;
        align-items: center;

        .header_avt {
            height: 32px;
            width: 32px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            border-radius: 50%;

            margin-right: 15px;
        }

        .header_username {
            font-weight: bold;
        }
    }

    .home_post_image {
        height: 650px;
        width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home_post_comment {
        width: 93%;

        .home_post_comment_react {
            display: flex;
        }

        margin: auto;
        margin-top: 10px;

        .home_post_comment_icon {
            margin-right: 15px;
        }

        .home_post_react {
            margin-right: 17px;
            font-size: 20px;
            margin-left: 5px;
        }
    }
}

// responsive desktop

@media screen and (max-width: 1023px) {
    .home_post {
        width: 500px !important;
        height: 650px !important;
    }
    .home_post_image {
        height: 500px !important;
    }
}

@media screen and (max-width: 767px) {
    .home_post {
        width: 400px !important;
        height: 550px !important;
    }
    .home_post_image {
        height: 400px !important;
    }
}

@media screen and (max-width: 487px) {
    .home_post {
        width: 300px !important;
        height: 450px !important;
    }
    .home_post_image {
        height: 300px !important;
    }
}
@media screen and (max-width: 319px) {
    .home_post {
        width: 300px !important;
        height: 450px !important;
    }
    .home_post_image {
        height: 300px !important;
    }
}

//responsive mobile
@media screen and (max-device-width: 480px) {
    .home_post {
        width: 100% !important;
        height: 350px !important;
    }
    .home_post_image {
        height: 200px !important;
    }
    .home_post_react {
        margin-right: 22px !important;
        font-size: 15px !important;
    }
}
